<div class="jumbotron">
  <h1 class="text-center"> My Goals</h1>

</div>

<div class="container-fluid content">
    <div class="container ">
      
        <div class="row">
          <div class="col-md-6">
            <div *ngFor='let goal of goals;let i = index'>
              <div>
                <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
                <button (click)='toggleDetails(i)' class="btn btn-outline-info">Toggle Details</button>
              </div>
      
              <div *ngIf='goal.showDescription'>
                <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <app-goal-form (addGoal)= "addNewGoal($event)"></app-goal-form>
          </div>
        </div>
      
        <p *ngIf='goals.length > 5'>You have too many goals</p>
      </div>

</div>

<div class="container-fluid footer">
    <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Gichuru Isaac</small>
        </div>
      </footer>

</div>